.bg-img {
    background-color: rgb(63, 19, 192);
    min-height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.logo {
    width: 160px;
    padding-right: 10px;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
}

.topnav a {
    font-family: "Segoe UI";
    float: left;
    color: #EAEAEA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #EAEAEA;
    border-radius: 6px;
    font-family: "Segoe UI Semibold";
    font-size: 20px;
    color: #252A34;
}

.main-information{
    font-family: "Segoe UI";
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    color: #EAEAEA;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
}

.hook-text{
    font-family: Calibri;
    text-align: center;
    font-size: 40px;
    margin-top: auto;
}
.invite-header{
    font-size: 60px;
}

.input-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input{
    font-family: "Segoe UI";
    font-weight: bold;
    height: 20px;
    padding: 12px 20px;
    width: 300px;
    border-radius: 5px;
}

.sender-button{
    background: #92ebf1;
    border-radius: 5px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    height: 45px;
    width: 100px;
    text-align: center;
    margin-left: 30px;
    color: #252A34;
}

.tittle2{
    text-align: center;
    color: rgb(2, 2, 151);
}


.org {
    display: flex;
    justify-content: space-between;
}
img{
    margin: 30px;
}
.org img{
    width: 150px;
    height: 60px;
}
.org1 img{
    width: 150px;
    height: 60px;
}
