.bg-img {
    background-color: rgb(58, 43, 194);
    min-height: 520px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    width: 7%;
    padding-right: 40px;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    align-items: center;
    margin-bottom: -4%;
}

.topnav a {
    font-family: "Segoe UI";
    float: left;
    color: #EAEAEA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #EAEAEA;
    border-radius: 6px;
    font-family: "Segoe UI Semibold";
    font-size: 15px;
    color: #252A34;
}

.main-information{
    font-family: "Segoe UI";
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    color: #EAEAEA;
}

.border-img {
    width: 17%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}

.invite-header {
    font-size: 280%;
}

.call-to-action{
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
    margin-top: -4%;
    font-size: 150%;
}

.hook-text{
    font-family: Calibri;
    text-align: center;
}

.input-container{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input{
    font-family: "Segoe UI";
    font-weight: bold;
    height: 20px;
    padding: 12px 20px;
    width: 300px;
    border-radius: 5px;
    color: #0743bb;
}

.sender-button{
    background: #1deeba;
    border-radius: 5px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    height: 45px;
    width: 100px;
    text-align: center;
    margin-left: 30px;
    color: #252A34;
}
.img{
    align-items: center;
    height: 100%;
}
.text{
    text-align: center;
    font-family: "Segoe UI";
    font-size: 10px;
}
.logos{
    width: 100%;
    display: flex;
    padding-left: 25%;
    align-items: center;
}
.iconos{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    block-size: auto;
    justify-content: center;
    justify-items: center;
}
.cards{
    width: 183px;
    height: 150px;
    background-repeat: no-repeat;
    gap: 10px;
    align-content: center;
    margin: 10px;
}